@font-face {
    font-family: Barcode;
    src: url(../../../fonts/Libre_Barcode_39_Text/LibreBarcode39Text-Regular.ttf);
}

@font-face {
    font-family: Josefin Sans;
    src: url(../../../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}


* {
    margin: 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Barcode;
    
    padding: 100px;
    font-size: 80px;
}

#topimg img {
    height: 500px;
    width: 100vw;

    object-fit: cover;
}

#slogan {
    padding: 150px;
    font-size: 20px;
    font-family: Josefin Sans;

    text-align: center;
}

#bottomimg {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#bottomimg img {
    height: 250px;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
    height: 100vh
}

#contentleft, #contentright {
    font-family: Josefin Sans;
    font-size: 25px;
    margin-top: 100px;
    text-align: center;
}

#aboutus {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    background-color: rgb(197, 197, 167);
    font-family: Josefin Sans;
}

#aboutus p {
    background-color: white;
    padding: 15px 50px;
}

footer {
    display: flex;
    height: 200px;
    font-family: Josefin Sans;
}

#bottomleft {
    display: flex;
    flex-direction: column-reverse;
}

#bottomright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: 250px;
}