header {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    gap: 5%;
    margin: 30px 100px;
}

#filter {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

#products {
    flex-grow: 1;
}

footer {
    display: flex;
    flex-direction: column;
}

#filter #modell_filter {
    order: 1;
}

#filter #country_filter {
    order: 2;
}

#filter #priceSliderContainer {
    order: 3;
}