
header,
footer,
#top {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#top {
    margin: 0 120px;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 25px;

    margin: 20px 120px;
}